@import "bootstrap/scss/bootstrap-grid";

@font-face {
  font-family: "Satoshi";
  src: url(../fonts/Satoshi-Regular.woff2);
}

@font-face {
  font-family: "Satoshi-bold";
  src: url(../fonts/Satoshi-Bold.woff2);
}
// .example {
//   font-family: "jetlab-variable",sans-serif;
//   font-variation-settings: 'THRU' 96, 'VERT' 73, 'HORZ' 100, 'LIFT' 54;
// }

/* ====================================
// css variables
// ==================================== */

:root {
  --title: "jetlab-variable", sans-serif;
  --title-variable: "THRU" 96, "VERT" 73, "HORZ" 100, "LIFT" 54;
  --text: "Satoshi", sans-serif;
  --text-bold: "Satoshi-bold", sans-serif;
  --green: #a2ff00;
  --purple: #9b36f2;
  --black: #000011;
  --white: #fff;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 22px;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.container-fluid {
  padding: 0;
}

/* ====================================
// base rules
// ==================================== */

/* base ↓ */

html {
  font-family: var(--text);
  background-color: var(--black);
}

main {
  overflow: hidden;
}

h2 {
  font-family: var(--title);
  font-variation-settings: var(--title-variable);
  font-size: 73px;
  letter-spacing: 1.5px;
  margin-bottom: 50px;
}

h3 {
  font-family: var(--text);
  font-size: 42px;
  letter-spacing: 0;
  line-height: 31px;
  margin-bottom: 30px;
  margin-top: 70px;
}

h3:first-child {
  margin-top: 0;
}

p {
  font-size: 22px;
  letter-spacing: 0;
  line-height: 31px;
}

a {
  text-decoration: none;
}

/* picture ↓ */

.picture {
  height: 100%;
  width: 50%;
}

.picture-show {
  padding: 30px 12.5px 15px;
  height: 400px;
  width: auto;
}

.picture-show-bottom {
  padding: 15px 12.5px 30px;
}

.picture-program {
  position: relative;
}

.picture-program-left {
  left: 0;
  width: 40%;
}

.picture-program-right {
  right: 0;
  width: 40%;
}

.picture-text-defiling {
  width: 35%;
  left: 64%;
  position: relative;
}

.picture-schedule-defiling {
  width: 30%;
  left: 39%;
  position: relative;
}

@media (max-width: 1500px) {
  .picture-schedule-defiling {
    width: 25%;
    left: 49%;
  }
}

@media (max-width: 1230px) {
  .picture-schedule-defiling {
    width: 20%;
    left: 59%;
  }
}

@media (min-width: 1500px) {
  .picture-program-left {
    left: 0;
    width: 30%;
  }

  .picture-program-right {
    right: 0;
    width: 30%;
  }
}

.picture-schedule-noon-defiling {
  width: 23%;
  position: relative;
  right: -1%;
}

.picture-decoration {
  position: absolute;
  bottom: 0;
  right: 0;
}

.picture-decoration-container {
  position: relative;
}

.picture-maps-hover {
  background-color: var(--purple);
}

/* cover ↓ */

figure {
  position: relative;
  width: 80%;
  margin-right: 50px;
}

figure:first-child {
  margin-bottom: 20px;
}

@media (min-width: 2000px) {
  figure {
    width: 60%;
  }
}

.cover {
  width: 25px;
  height: 25px;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  user-select: none;
}

.cover-covering {
  width: 100%;
  height: 100%;
  background-color: var(--purple);
  opacity: 60%;
  justify-content: center;
  align-items: center;
  padding: 30px;
  display: flex;
}

/* video ↓ */

.video-intro {
  display: flex;
  justify-content: center;
}

/* layout ↓ */

.l-tile {
  padding: 100px 0;
}

.l-margin-right p {
  margin-right: 15%;
}

.l-tile-purple {
  background-color: var(--purple);
  color: var(--white);

  ::selection {
    background-color: var(--white);
    color: var(--purple);
  }
}

.l-tile-green {
  background-color: var(--green);
  color: var(--balck);

  ::selection {
    background-color: var(--black);
    color: var(--green);
  }

  .button:hover {
    border-color: var(--purple);
  }

  .button a:hover,
  .button a:active {
    color: var(--purple);
  }
}

.l-tile-black {
  background-color: var(--black);
  color: var(--white);

  ::selection {
    background-color: var(--green);
    color: var(--black);
  }

  .button {
    border-color: var(--white);
  }

  a:hover,
  a:active {
    color: var(--green);
  }
}

/* button ↓ */

.button {
  background: none;
  border: solid 1.5px var(--black);
  border-radius: 7px;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0;
  font-family: var(--text-bold);
  transition: all 0.3s ease-in-out;
  display: inline-block;
  text-align: center;
  margin-right: 20px;
  user-select: none;
}

.button a {
  text-decoration: none;
}

.button a:hover {
  color: var(--green);
}

.button span {
  user-select: none;
}

.button:hover {
  border-color: var(--green);
  scale: 1.1;
}

.button:active {
  scale: 0.95;
}

.button-container {
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
  padding-top: 50px;
}

/*  header ↓ */

.header {
  box-shadow: 0 2px 15px #612e021a;
  background: var(--black);
  position: sticky;
  padding-top: 20px;
  z-index: 1000;
  top: 0;
  color: var(--white);

  a:hover {
    color: var(--purple);
  }
}

.header-holder {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-around;
  a {
    text-decoration: none;
  }
}

nav,
h1 {
  padding-bottom: 10px;
}

.language {
  background: none;
  border: solid 1px var(--white);
  border-radius: 7px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3px 8px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 2px 3px;
  position: relative;

  a {
    padding: 0 10px;
    font-size: 16px;
  }
}

.language-selection {
  background-color: var(--white);
  z-index: 300;
  border-radius: 7px;
  padding: 13px 23px;
  position: absolute;
  left: 0px;
}

.language-selected {
  color: var(--black);
  z-index: 1000;
}

/*  defiling ↓ */

.text-defiling {
  animation-duration: 90s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.text-defiling-container {
  position: relative;
  overflow: hidden;
}

.text-container {
  position: absolute;
  right: 0;
  top: 0;
  user-select: none;
  overflow: hidden;
  display: flex;
}

.text {
  animation-name: TextDefiling;
  // font-family: var(--title);
  // font-variation-settings: var(--title-variable);
  // font-size: 135px;
  // letter-spacing: 6.43px;
  // color: #00000000;
  // -webkit-text-stroke: var(--black) 2px;
  // line-height: 122px;
  // white-space: nowrap;
}

.schedule {
  animation-name: TextDefiling;
  // font-family: var(--title);
  // font-variation-settings: var(--title-variable);
  // -webkit-text-stroke: var(--black) 2px;
  // font-size: 151px;
  // color: #00000000;
  // letter-spacing: 7.67px;
  // line-height: 135px;
}

.schedule-noon {
  animation-name: TextDefiling;
  // font-family: var(--title);
  // font-variation-settings: var(--title-variable);
  // -webkit-text-stroke: var(--white) 2px;
  // font-size: 113px;
  // color: #ffffff00;
  // letter-spacing: 5.38px;
  // line-height: 100px;
}

// @media (max-width: 1400px) {
//   .schedule-noon {
//     font-size: 92px;
//     line-height: 85px;
//   }
// }

// @media (max-width: 1300px) {
//   .text {
//     font-size: 115px;
//     line-height: 112px;
//   }

//   .schedule {
//     font-size: 131px;
//     line-height: 115px;
//   }

//   .schedule-noon {
//     font-size: 72px;
//     line-height: 68px;
//   }
// }

// @media (max-width: 1100px) {
//   .text {
//     font-size: 95px;
//     line-height: 92px;
//   }

//   .schedule {
//     font-size: 121px;
//     line-height: 105px;
//   }

//   .schedule-noon {
//     font-size: 72px;
//     line-height: 68px;
//   }
// }

// @media (max-width: 900px) {
//   .text {
//     font-size: 75px;
//     line-height: 72px;
//   }

//   .schedule {
//     font-size: 81px;
//     line-height: 75px;
//   }

//   .schedule-noon {
//     font-size: 52px;
//     line-height: 48px;
//   }
// }

.schedule-left {
  animation-name: TextDefiling;
  padding-right: 10px;
}

.schedule-right {
  animation-name: TextDefilingRight;
}

.schedule-defiling {
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.schedule-defiling-container {
  position: relative;
  overflow: hidden;
}

.text-container-left {
  position: absolute;
  left: 0;
  top: 0;
  user-select: none;
  overflow: hidden;
}

@keyframes TextDefiling {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-30%);
  }
}

@keyframes TextDefilingRight {
  0% {
    transform: translateY(-30%);
  }

  100% {
    transform: translateY(0%);
  }
}

/*  main, show, defiling show ↓ */

.show {
  display: flex;
  align-items: center;
  animation-name: ChangeDirection;
  justify-content: center;
}

.show-bottom {
  display: flex;
  align-items: center;
  animation-name: ChangeDirectionBottom;
}

.show-container {
  overflow: hidden;
}

.defiling-show {
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.show-defiling-container {
  overflow: hidden;
  background-color: var(--purple);
}

@keyframes ChangeDirection {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-133%);
  }
}

@keyframes ChangeDirectionBottom {
  0% {
    transform: translateX(-130%);
  }

  100% {
    transform: translateX(0%);
  }
}

// /* google iframe ↓ */

// iframe {
//   user-select: none;
//   display: flex;
//   padding: 15px 0;
// }

/*  main, programme ↓ */

.tile-program {
  display: flex;
  justify-content: space-between;
  padding-bottom: 180px;
}

.tile-program:last-child {
  padding-bottom: 0px;
}

/*  main, programme, table ↓ */

td {
  padding: 9px 40px 9px 0;
}

td:last-child {
  padding: 0;
}

/*  footer ↓ */

footer ul {
  display: flex;
  flex-direction: column;
}

footer ul a {
  padding: 5px 0;
}

footer p {
  padding-top: 40px;
}

.legal p {
  font-size: 14px;
}

footer p:last-child {
  padding-top: 0;
}

/*  footer logo ↓ */

.logo-container {
  display: flex;

  .logo {
    margin-right: 50px;
  }
}

.logo-fri-son.logo-fri-son-hover:hover {
  background-image: url("/src/img/logo-fri-son-vert.svg");
}

.logo-fri-son {
  width: 123px;
  height: 43px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/src/img/logo-fri-son.svg");
}

.logo-eikon.logo-eikon-hover:hover {
  background-image: url("/src/img/logo-eikon-vert.svg");
}

.logo-eikon {
  width: 123px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/src/img/logo-eikon.svg");
}

.logo-loterie.logo-loterie-hover:hover {
  background-image: url("/src/img/logo-lotterie-romande-vert.svg");
}

.logo-loterie {
  width: 156px;
  height: 54px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/src/img/logo-lotterie-romande.svg");
}

.logo-etat.logo-etat-hover:hover {
  background-image: url("/src/img/logo-etat-de-fribourg-vert.svg");
}

.logo-etat {
  width: 83px;
  height: 83px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/src/img/logo-etat-de-fribourg.svg");
}

/*  progress bar ↓ */

progress {
  appearance: none;
  width: 100%;
  height: 5px;
  background: 0 0;
  border: none;
  position: relative;
  top: 0;
  left: 0;
}

progress::-webkit-progress-bar {
  background: transparent;
  border: none;
}
progress::-webkit-progress-value {
  background: var(--green);
  background-attachment: fixed;
  border: none;
}
